@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.resume {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Poppins', sans-serif !important;
}

.contain {
    padding: 0 10%;
}

.pdf-viewer {
    width: 100%;
    height: 1200px;
}

.text-container {
    margin-bottom: 25px;
    text-align: center;
}

a { 
    display: inline-block;
    margin: 0;
    padding: 15px;

    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    transform: scale(1.025);
}

span {
    color: #007AF3;
}

p {
    font-size: 1.25rem;
}